# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

OpenTK
Puzzles/MagicTile/.vs/
Puzzles/MagicTile/MagicTile.suo
Puzzles/MagicTile/MagicTile/bin/Debug
Puzzles/MagicTile/MagicTile/bin/Release
Puzzles/MagicTile/MagicTile/obj
Puzzles/MagicTile/packages
Puzzles/MagicTile/MagicTile/config/user
R3/R3.Core/bin/Debug
R3/R3.Core/bin/Release
R3/R3.Core/obj
*.psess
*.vspx
