<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net40-client" />
  <package id="OpenTK.GLControl" version="3.0.0-pre" targetFramework="net40-client" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40-Client" />
</packages>